h1 {
    padding: 20px;
}

/* Accept button */
.accept-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Decline button */
.decline-btn {
    background-color: #B22222;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Hover effects */
.accept-btn:hover,
.decline-btn:hover {
    opacity: 1;
}

.inbox-btn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    opacity: 0.9;
    left: 50%;
    text-align: center;
}

.inbox-btn:hover {
    opacity: 1;
}