/* Register Page styles */

.form-container {
    max-width: 1100px;
    margin: 20px;
    padding: 30px;
    background-color: #f1f1f1;
}

/* Full-width input fields */
.form-container input,
textarea,
select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the form inputs are in focus */
.form-container input:focus {
    background-color: #ddd;
    outline: none;
}

/* Register button */
.form-container .register-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Hover effects */
.form-container .register-btn:hover {
    opacity: 1;
}
